#Python part
*.txt
*.json
__pycache__/*.pyc
gRPC_Client/__pycache__/*.pyc
gRPC_Client/python_sourcefile/__pycache__/*.pyc
Hardware_Modules/nidaqmx/__pycache__/*.*
Hardware_Modules/nifpga/__pycache__/*.*
Hardware_Modules/nislsc/__pycache__/*.*
Hardware_Modules/nidcpower/__pycache__/*.*
Hardware_Modules/KS_N6752A/__pycache__/*.*




